---
import '../styles/app.css';
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.png"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={ Astro.generator }/>
    <title>BetterWorld: Free Fundraising Platform for Nonprofits</title>
    <meta name="description"
          content="BetterWorld provides online fundraising software for organizations, nonprofits, charities &#38; more for FREE. Get more fundraising ideas and raise money quicker &#38; easier. Get started today!">
</head>
<body>
  <slot />
</body>
</html>
